<body onload="LoadCategoryList()">
    <div class="col-6">
        <h2>Category List</h2>
    </div>
    <div>
        <div class="row pt-4 pb-3">
            <div class="col-6 text-begin">
                <a asp-controller="Category" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add New</a>
            </div>
            <div class="col-6 text-end">
                <form id="CategoryExcelUpload" enctype="multipart/form-data">
                    <label class="fw-bold" style="text-align: left;">Add Catagories (Bulk)</label>
                    <div class="row">
                        <div class="col-11 text-end">
                            <input type="file" id="inputFile" class="form-control" />
                        </div>
                        <div class="col-1 text-begin">
                            <input type="button" value="Upload" onclick="UploadCategories()" class="btn btn-success" />
                        </div>
                    </div> 
                </form>
            </div>
        </div>     
    </div>


    <div>
        <table id="tblData" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Category Id</th>
                    <th>Category Name</th>
                    <th></th>
                </tr>
            </thead>

        </table>
    </div>
</body>
<script src="~/js/loadCategoryList.js"></script>
<script src="~/js/uploadCategories.js"></script>