@model LoginVM

<div class="row pt-lg-5">
    <div class="col-4">

    </div>
    <div class="col-4 bg-light">
        <div class="text-md-center">
            <h3>Login to ECMS</h3>
        </div>
        <form method="post">
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="fw-bold">Username</label>
                <input type="text" asp-for="Username" class="form-control" placeholder="username" required/>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="fw-bold">Password</label>
                <input type="password" asp-for="Password" class="form-control" placeholder="password" required/>
            </div>
            <div class="row">
                <div class="text-end">
                    <a href="#!" >Forgot password?</a>
                </div>
            </div>
            <input type="submit" value="Login" class="btn btn-info mb-4"/>
            
        </form>
        <div class="text-center">
            <p>Not a customer? <a href="/user/register">Register</a></p>
            </div>
    </div>
    <div class="col-4">

    </div>

</div>

