<body onload="LoadOrderHistory()">
    <div class="col-6">
        <h2>Your Orders</h2>
    </div>

    <div>
        <table id="tblData" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Payment method</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>

        </table>
    </div>
</body>
<script src="~/js/loadOrderHistory.js"></script>
