@model IEnumerable<ProductImageMapDTO>
<body onload="LoadHomePage(0)">
    <div class="row">
        <div class="col-2">
            <span class="input-group-append">
                <input class="form-control border " type="text" placeholder="Search product" id="searchText">
                <button class="btn btn-outline-primary border-start-0 border ms-n3" type="button" id="btnSearch">
                        <i class="bi bi-search"></i>
                </button>
                    <br /><br />
            </span>
            <label class="fw-bold" style="text-align: left;">Filter by category</label>
            <select id="categoryId" asp-items="ViewBag.catList" class="form-select">
                <option selected disabled>Select category</option>
                <option value="0">All</option>
            </select>
        </div>
        <div class="col-10">
            <div class="render_homePage"></div>
            <div id="HomepagePagination-controls"></div>
        </div>
    </div>
</body>



<script type="text/x-handlebars-template" id="homePageProducts">
    <div class="row pb-3">
            {{#each product}}
                <div class="col-lg-3 col-sm-6">
                    <div class="row p-2">
                        <div class="col-12 p-1">
                            <div class="card border-0 p-3 shadow border-top border-5 rounded">
                             {{#if images}}
                                    <img src="{{images.[0].imageUrl}}" class="card-img-top rounded" />
                             {{else}}
                                    <img src="https://placehold.co/350x400" width="100%" class="rounded" />
                             {{/if}}
                                <div class="card-body pb-0">
                                    <div class="pl-1">
                                        <p class="card-title h5 text-dark opacity-75 text-center">{{name}}</p>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-dark text-opacity-75 text-center">Price <span>{{price}} Tk</span></p>
                                    </div>
                                </div>
                                <div>
                                    <a href="Product/Details/{{id}}" class="btn btn-primary bg-gradient border-0 form-control">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
       </div>
</script>
<script src="~/js/loadHomePage.js"></script>